/* General Style */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Lato:wght@700&family=Montserrat:wght@600&family=Roboto:wght@500;700&display=swap');
body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}


/* Radio Button */

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-transition: all 0.15s ease-out 0s;
    -o-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    width: 22px;
    height: 22px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid var(--logo-placeholder-font-color);
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

.option-input:checked {
    background: var(--logo-placeholder-font-color);
}

.option-input:checked::before {
    position: absolute;
    content: '';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    content: '✔';
    display: block;
    position: relative;
    z-index: 100;
    color: var(--light-theme-placeholder-font);
    transform: translate(8%, 3%);
    color: var(--light-theme-background);
    font-size: 18px;
    font-weight: 600;
}


/* End Radio Button */


/* Start Scroll */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px grey;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: var(--logo-placeholder-font-color);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--logo-placeholder-font-color);
}


/* End Scroll */


/* Start Navbar */

.navbar {
    background-color: var(--navbar-background);
    opacity: 1;
    border-bottom: 1px solid var(--logo-placeholder-font-color);
}

.navbar-light .navbar-nav .nav-item {
    position: relative;
}

.navbar-brand {
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 0px;
    color: var(--logo-placeholder-font-color) !important;
    opacity: 1;
}

.navbar_img {
    width: 30px;
    height: 30px;
    /* position: absolute;
    left: -30px;
    top: 4px; 
    top: 7px; */
}

.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    color: var(--navbar-font-color) !important;
    opacity: 1;
    margin-right: 25px;
}

.nav-item .dropdown-menu {
    z-index: 99999999999999;
}

.dropdown-toggle::after {
    margin-top: 12px;
    /* margin-top: 7px; */
}


/* End Navbar */


/* Left Side */

.content-page {
    background-color: var( --sidebar-products-background-color);
}


/* Search Input*/

.input-search {
    margin: 0 7px 0 3px;
    padding: 12px 24px;
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 6px;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    outline: 0;
    background: var(--input-background-color) 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 0px 7px var(--input-shadow-color);
    box-shadow: 0px 0px 7px var(--input-shadow-color);
    border-radius: 6px;
    opacity: 1;
    font-style: normal;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-search .input-text {
    border: none;
    outline: 0;
    width: 90%;
    background: transparent;
    color: var(--input-font-color);
}

.input-search .input-text::placeholder {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--logo-placeholder-font-color);
    text-transform: capitalize;
    opacity: 1;
}

.input-search .input-btn-search {
    border: none;
    background-color: transparent;
    float: right;
    color: var(--logo-placeholder-font-color);
    outline: 0;
    font-size: 18px;
}


/* Start Category */

.shopping-categories .group-list .list-categories:first-child {
    padding-left: 3px;
}

.shopping-categories .group-list .list-categories:last-child {
    padding-right: 2.2px;
}

.shopping-categories .group-list .list-categories {
    margin-right: 17px;
}

.shopping-categories .group-list .list-categories .shopping_button {
    width: 90px;
    height: 83px;
    background: var(--sidebar-categories-produscts-background-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 7px #0000002B;
    border-radius: 8px;
    opacity: 1;
}

.shopping-categories .group-list .list-categories .shopping_button:focus {
    border: 1px solid var(--logo-placeholder-font-color);
}

.shopping-categories .group-list .list-categories .shopping_button:focus .shopping-title {
    color: var(--logo-placeholder-font-color);
}

.shopping-categories .group-list .list-categories .shopping_button .cat-img {
    height: 30px;
    margin-top: 15px;
}

.shopping-categories .group-list .list-categories .shopping_button .shopping-title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--categories-font-color);
    opacity: 1;
}


/* End Category */


/* Start Products */

.product-card {
    overflow: auto;
    height: calc(100vh - 243px);
    padding-right: 10px;
}

.product-card .product-width {
    transition: all .3s ease-in-out;
}

.food-card {
    width: 148px;
    height: 140px;
    background: var(--sidebar-categories-produscts-background-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 7px #00000029;
    border-radius: 8px;
    opacity: 1;
    position: relative;
    margin-top: 35px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 15px;
}

.food-card .food-content {
    transform: translateY(-40%);
}

.food-card .food-img img {
    width: 90px;
    height: 90px;
    transform: translate(33%, -35%);
    border-radius: 50%;
    opacity: 1;
}

.food-card .food-content .food-title {
    left: 47px;
    width: 114px;
    height: 39px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--main-font-color);
    opacity: 1;
}

.food-card .food-content .food-price {
    width: 62px;
    height: 25px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: #FF3737;
    opacity: 1;
}


/* End Products */


/* Start Sidebar */

.product-sidebar {
    background-color: var(--sidebar-categories-produscts-background-color);
    border-left: 1px solid var(--logo-placeholder-font-color);
    height: calc(100vh - 66px);
}

.add-customer .input-text {
    width: 85%;
}

.add-customer .input-search {
    padding: 12px 9px;
}

.add-customer .option-input {
    margin-right: 8px !important;
}

.order-number {
    font-weight: 600;
    font-size: 23px;
    line-height: 29px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 15px;
    color: var(--logo-placeholder-font-color);
    opacity: 1;
    border-bottom: 1px solid var(--logo-placeholder-font-color);
    padding-bottom: 5px;
}


/* Start Sidebar Product */


/* End Sidebar Product */


/* Start Sidebar Total */

.product-sidebar .total {
    border-bottom: 1px solid var(--logo-placeholder-font-color);
}

.product-sidebar .total .totals-item {
    display: flex;
    justify-content: space-between;
    padding: 2.5px 41px;
}

.product-sidebar .total .totals-item .total-heading,
.product-sidebar .total .totals-item .totals-value {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--main-font-color);
    opacity: 1;
}

.product-sidebar .total .totals-item .total-heading {
    text-align: left;
}

.product-sidebar.total .totals-item .totals-value {
    text-align: center;
}


/* End Sidebar Total */


/* Start Sidebar Checkout */

.product-sidebar .chekout {
    background: var(--logo-placeholder-font-color) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.product-sidebar .chekout .check-btn {
    background: var(--total-btn-background-color) 0% 0% no-repeat padding-box;
    color: var(--total-btn-font-color);
    opacity: 1;
    width: 48%;
    outline: 0;
    border: none;
    font-size: 20px;
}

.product-sidebar .chekout .check-btn .fa-credit-card {
    margin-right: 15px;
}

.product-sidebar .product-sales {
    padding: 0 50px;
    height: calc(100vh - 351px);
    overflow: auto;
}

.total {
    border-top: 1px solid var(--logo-placeholder-font-color);
}

.chekout .all-checkout-total {
    padding: 5px 35px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--total-font-color);
    opacity: 1;
}

.chekout .salary::before {
    content: "";
    top: 684px;
    left: 964px;
    width: 0px;
    height: 25px;
    -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
    -ms-transform: matrix(0, -1, 1, 0, 0, 0);
    transform: matrix(0, -1, 1, 0, 0, 0);
    border: 1px solid #FFFFFF;
    opacity: 1;
    margin: 0 12px;
}


/* End Sidebar Checkout */


/* Start Sidebar Products */

.product-sidebar .close-customer-add-responsive {
    width: 45px;
    height: 45px;
    background: var(--logo-placeholder-font-color) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    outline: 0;
    border: none;
    color: var(--total-btn-font-color);
    font-size: 24px;
    right: -60px;
    top: 1px;
}

.product {
    background-color: var(--sidebar-products-background-color);
    padding: 6px 16px 0 35px;
}

.product .product-image img {
    width: 60px;
    height: 60px;
    opacity: 1;
}

.product .product-details a {
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--main-font-color);
    opacity: 1;
}

.product .product-details .size {
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--sidebar-products-details-font-color);
    opacity: 1;
}

.product .quan-salary .price {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--price-font-color);
    opacity: 1;
}

.product .quan-salary .quant .increase-decrease-btn {
    transform: matrix(1, 0, 0, 1, 0, 0);
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
}

.product .quan-salary .quant .minus {
    background: var(--total-btn-font-color) 0% 0% no-repeat padding-box;
    color: var(--logo-placeholder-font-color);
    padding: 5px 3.5px;
}

.product .quan-salary .quant .minus .fa-minus {
    margin-left: 3px;
}

.product .quan-salary .quant .plus {
    background: var(--logo-placeholder-font-color) 0% 0% no-repeat padding-box;
    color: var(--total-btn-font-color);
    padding: 5px 7px;
}

.product .quan-salary .quant .qt {
    height: 21px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--main-font-color);
    opacity: 1;
    background-color: transparent;
}

.product .op .remove {
    background: var(--logo-placeholder-font-color) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 4px 7px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 15px;
    color: var(--total-btn-font-color);
}


/* End Sidebar Products */


/* End Sidebar */


/* Start Shopping Card */

.shopping-card .shopping-card-link {
    background: var(--input-background-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 7px #00000029;
    border: 1px solid var(var(--logo-placeholder-font-color));
    border-radius: 8px;
    opacity: 1;
    padding: 13px 14px;
    border: none;
    outline: 0;
}

.shopping-card .shopping-card-link .fa-shopping-cart {
    color: var(--logo-placeholder-font-color);
    font-size: 18px;
}


/* End Shopping Card */


/* Start Right Modal */

.modal.modal-right .modal-dialog {
    position: absolute;
    top: 140px;
    right: 0;
    width: 455px;
    /* height: calc(100vh - 180px); */
    height: auto;
    background: var(--sidebar-products-background-color) 0% 0% no-repeat padding-box;
    border: 1px solid var(--logo-placeholder-font-color);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    opacity: 1;
}

.modal-open .modal {
    background: #1F1D2B8C 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 999999999999999;
}

.modal.modal-right.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal.modal-right .modal-content {
    /* overflow-y: auto; */
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: none;
    background-color: var(--sidebar-products-background-color);
}

.modal.modal-right .modal-dialog {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    margin: 0px 0 0 auto;
}

.modal-content .modal-header {
    padding: 0;
}

.modal-content .modal-header .img-special-product {
    height: 160px;
}

.modal-dialog .modal-content .modal-header .order-img img {
    transform: translate(80%, -56%);
    width: 176px;
    height: 176px;
}

.modal-content .modal-header .order-info .order-title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--modal-main-font-color);
    opacity: 1;
    display: block;
}

.modal-content .modal-header .order-info {
    margin: 86px auto 0;
}

.modal-content .modal-header .order-info .order-salary {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: #FF6C6C;
    opacity: 1;
    display: flex;
    justify-content: center;
}

.modal-header {
    border-bottom: none;
}

.modal.modal-right .modal-heading {
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--modal-main-font-color);
    opacity: 1;
    width: 91px;
    height: 25px;
    overflow: hidden;
}

.modal.modal-right .name-size .modal-heading {
    width: 35px;
}

.modal-body .products-increase-border {
    border-bottom: 1px solid var(--logo-placeholder-font-color);
}

.modal-body .products-colors {
    border-bottom: 1px solid var(--logo-placeholder-font-color);
    border-top: 1px solid var(--logo-placeholder-font-color);
    padding: 7px 0;
}

.modal-body .products-colors .sizes-check .all-sizes .size-product {
    border: 1px solid #FF6C6C;
    border-radius: 3px;
    opacity: 1;
    text-align: center;
    font-style: normal;
    font-size: 21px;
    line-height: 29px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--modal-main-font-color);
    opacity: 1;
    background-color: transparent;
    outline: 0;
}

.modal-body .products-colors .sizes-check .all-sizes .size-product.active {
    background-color: var(--logo-placeholder-font-color);
}

.modal-body .products-colors .sizes-check .all-sizes .small-btn {
    padding: 5px 10px;
}

.modal-body .products-colors .sizes-check .all-sizes .medium-btn {
    padding: 5px 6px;
}

.modal-body .products-colors .sizes-check .all-sizes .large-btn {
    padding: 5px 11px;
}

.modal-body .product-salary .product-values {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: #B4B1B1;
    opacity: 1;
}

.modal-body .size-head {
    text-align: left;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: #858080;
    opacity: 0.61;
}

.modal-footer {
    background: #1F1D2B 0% 0% no-repeat padding-box;
    border-bottom-left-radius: 23px;
    opacity: 1;
    padding: 0;
    margin: 0;
    border-top: none;
}

.modal-footer .products-size-color-price .products-size-color-price-total {
    background: #FF6C6C 0% 0% no-repeat padding-box;
    border: 1px solid #FF6C6C;
    opacity: 1;
    padding: 10px 20px;
}

.modal-footer .products-size-color-price .quan-salary-clothes .qty {
    background-color: transparent;
    outline: 0;
    border: none;
    text-align: center;
}

.products-size-color-price .products-size-color-price-total .total-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.products-size-color-price .products-size-color-price-total .salary {
    height: 24px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.products-size-color-price .products-size-color-price-total .salary::before {
    content: "";
    top: 684px;
    left: 964px;
    width: 0px;
    height: 25px;
    -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
    -ms-transform: matrix(0, -1, 1, 0, 0, 0);
    transform: matrix(0, -1, 1, 0, 0, 0);
    border: 1px solid #FFFFFF;
    opacity: 1;
    margin: 0 12px 0 24px;
}

.sizes-check .all-quanties {
    top: 646px;
    left: 397px;
    width: 79px;
    height: 27px;
    background: #1F1D2B 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000029;
    border-radius: 5px;
    opacity: 1;
}

.products-increase .sizes-check .all-quanties .quan-salary2 .product-add {
    outline: 0;
    border: none;
    text-align: left;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: transparent;
    margin-right: 18px;
    margin-top: 5px;
}

.products-increase .sizes-check .minus3,
.products-increase .sizes-check .plus3,
.sizes-check .plus-quan {
    margin-top: 4px;
    width: 18px;
    height: 18px;
    background: var(--logo-placeholder-font-color) 0% 0% no-repeat padding-box;
    color: var( --total-btn-font-color);
    box-shadow: 0px 0px 4px #00000029;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
}

.modal-body .products-increase .sizes-check .all-quanties .quan-salary2 .qty {
    width: 28px;
    background: transparent;
    border: none;
    text-align: center;
    color: #fff;
    outline: 0;
    height: 100%;
    margin-top: 4px;
}

.products-increase .sizes-check .plus3 .fa-plus,
.products-increase .sizes-check .minus3 .fa-minus {
    font-size: 12px;
    transform: translate(3px, 3px);
}


/* .products-size-color-price .quan-salary-clothes {
    margin: 0 65px;
} */

.products-size-color-price .quan-salary-clothes .minus-all-quan {
    background: var(--total-btn-font-color) 0% 0% no-repeat padding-box;
    color: var(--logo-placeholder-font-color);
    padding: 5px 7px;
    margin-left: 33.5px;
    cursor: pointer;
}

.products-size-color-price .quan-salary-clothes .plus-all-quan {
    background: var(--logo-placeholder-font-color) 0% 0% no-repeat padding-box;
    color: var(--total-btn-font-color);
    padding: 5px 7px;
    margin-right: 33.5px;
    cursor: pointer;
}

.products-size-color-price .quan-salary-clothes .qty {
    color: var(--total-btn-font-color);
    width: 60px;
}

#add-products {
    padding: 16.5px 26px;
    color: var(--total-btn-font-color);
    background: var(--logo-placeholder-font-color);
    text-transform: capitalize;
    outline: 0;
    border: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-bottom-left-radius: 13px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0px;
    opacity: 1;
}

#add-products:hover {
    background-color: var(--total-btn-font-color);
    color: var(--logo-placeholder-font-color);
}


/* End Right Modal */


/*Start Login*/

.login-side {
    width: 35%;
    opacity: 1;
    float: left;
    clear: both;
    background: var(--login-background-color) 0% 0% no-repeat padding-box;
    height: 100vh;
}

.login-side .login-content {
    -webkit-transform: translateY(25%);
    -ms-transform: translateY(25%);
    transform: translateY(25%);
}

.login-side .login-content form {
    margin-top: 20px;
}

.login-side .login-content form .form-check .option-input {
    width: 14px;
    height: 14px;
    border-radius: 2px !important;
}

.login-side .login-content form .form-check .option-input::after {
    transform: translate(10%, -15%);
    font-size: 13px;
    font-weight: 500;
}

.login-side .login-heading {
    width: 306px;
    height: 84px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 69px;
    line-height: 84px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: var(--logo-placeholder-font-color);
    opacity: 1;
    margin: auto;
}

.login-side .form-group-login {
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
}

.login-side form .login-input {
    width: 100%;
    height: 45px;
    background: var(--light-theme-background) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.login-side form .btn-login {
    width: 60%;
    margin: auto;
    display: inherit;
    height: 45px;
    background: var(--logo-placeholder-font-color) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    outline: 0;
    border: none;
}

.login-side form .check-login {
    width: 60%;
    margin: auto;
    font-size: 14px;
}

.login-side form .check-login .forget-password-login {
    float: right;
    color: var(--logo-placeholder-font-color);
}

.login-side form .footer-login {
    -webkit-transform: translateY(130px);
    -ms-transform: translateY(130px);
    transform: translateY(130px);
    font-size: 14px;
    margin: auto;
    width: 50%;
}

.login-side label,
.footer-login p {
    color: var(--main-font-color);
}

.footer-login a {
    color: var(--logo-placeholder-font-color);
}

.carousel-side {
    width: 65%;
    background: var(--logo-placeholder-font-color) 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 100vh;
    float: left;
}

.carousel-side .carousel-inner .carousel-item {
    width: 65%;
    height: 100vh;
}

.carousel-side .carousel-inner .carousel-item img {
    -webkit-transform: translate(30%, 30%);
    -ms-transform: translate(30%, 30%);
    transform: translate(30%, 30%);
}

.carousel-side .carousel-inner .carousel-item .carousel-content {
    width: 100%;
    margin: auto;
    -webkit-transform: translate(30%, 100%);
    -ms-transform: translate(30%, 100%);
    transform: translate(30%, 100%);
    color: var(--light-theme-background);
}

.carousel-side .carousel-inner .carousel-item .carousel-content .carousel-heading {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: var(--total-btn-font-color);
}

.carousel-side .carousel-inner .carousel-item .carousel-content .carousel-paragraph {
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    opacity: 1;
    width: 80%;
    margin: auto;
    color: var(--total-btn-font-color);
}


/* End Login Page */


/* Media Query */

@media (max-width: 369.98px) {
    .login-side .login-content {
        transform: translateY(17%);
    }
    .navbar-nav {
        margin-left: 16px !important;
    }
    /* Right Modal */
    .modal.modal-right .modal-dialog {
        width: 100% !important;
        top: 136px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }
    #add-products {
        border-bottom-left-radius: 0;
    }
    .modal.modal-right .modal-content {
        border-top-right-radius: 26px;
    }
    .modal-dialog .modal-content .modal-header .order-img img {
        transform: translate(94%, -56%);
        width: 130px;
        height: 130px;
    }
    .modal-content .modal-header .order-info {
        margin: 72px auto 0;
    }
    .modal.modal-right .modal-heading {
        font-size: 17px;
    }
    .modal-body .products-colors .sizes-check .all-sizes .size-product {
        font-size: 15px;
    }
    .modal-footer .products-size-color-price .products-size-color-price-total {
        padding: 10px 15px;
    }
    .products-size-color-price .quan-salary-clothes .minus-all-quan {
        margin-left: 10px;
    }
    .products-size-color-price .quan-salary-clothes .qty {
        width: 30px;
    }
    .products-size-color-price .quan-salary-clothes .plus-all-quan {
        margin-right: 10px;
    }
    /* Sidebar */
    .product-sidebar .close-customer-add-responsive {
        width: 39px;
        height: 39px;
        right: -46px;
        top: 1px;
    }
    .add-customer .input-search {
        margin-left: 20px !important;
        width: 70%;
    }
    .add-customer .input-search {
        padding: 8px 9px;
    }
    .order-number {
        font-size: 18px;
    }
    .product .product-image img {
        width: 45px;
        height: 45;
    }
    .product .product-details a {
        font-size: 11px;
        line-height: 17px;
    }
    .product .product-details .size {
        font-size: 10px;
    }
    .product .quan-salary .quant .minus {
        padding: 4px 2.5px;
    }
    .product .quan-salary .quant .plus {
        padding: 4px 6px;
    }
    .product-sidebar .total .totals-item {
        padding: 2.5px 13px;
    }
    .product-sidebar .total .totals-item .total-heading,
    .product-sidebar .total .totals-item .totals-value {
        font-size: 18px;
    }
    .chekout .all-checkout-total {
        padding: 5px 5px !important;
    }
    .product-sidebar .product-sales {
        height: calc(100vh - 345px) !important;
    }
    /* Product */
    .food-card {
        width: 125px;
        height: 125px;
    }
    .food-card .food-img img {
        width: 70px;
        height: 70;
        transform: translate(42%, -40%);
    }
}

@media (max-width: 575.98px) {
    .navbar-nav {
        margin-left: 16px !important;
    }
    .navbar-brand {
        margin-left: 20px;
    }
    .product-card .product-width {
        width: 50%;
    }
    .product-card {
        height: calc(100vh - 255px);
    }
    .overlay {
        display: none;
        position: absolute;
        background: #1F1D2B8C 0% 0% no-repeat padding-box;
        opacity: 1;
        backdrop-filter: blur(4px);
    }
    .product-sidebar {
        top: 10%;
        left: 10%;
        width: 80%;
        border: 1px solid var(--logo-placeholder-font-color);
    }
    .product-sidebar .product-sales {
        height: calc(100vh - 371px);
    }
    .add-customer .input-search {
        margin-left: 20px !important;
        width: 74%;
    }
    .product {
        padding: 6px 9px 0 10px;
    }
    .chekout .all-checkout-total {
        padding: 5px 25px;
    }
    .login-side {
        width: 100%;
    }
    .carousel-side {
        display: none;
    }
    .modal.modal-right .modal-dialog {
        top: 120px;
    }
    .product-sidebar .product-sales {
        height: calc(100vh - 353px);
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-nav {
        margin-left: 16px !important;
    }
    .navbar-brand {
        margin-left: 20px;
    }
    .product-card {
        height: calc(100vh - 255px);
    }
    .overlay {
        display: none;
        position: absolute;
        background: #1F1D2B8C 0% 0% no-repeat padding-box;
        opacity: 1;
        backdrop-filter: blur(4px);
    }
    .product-sidebar {
        top: 10%;
        transform: translateX(21%);
        width: 70%;
        border: 1px solid var(--logo-placeholder-font-color);
    }
    .product-sidebar .product-sales {
        height: calc(100vh - 375px);
    }
    .add-customer .input-search {
        margin-left: 30px !important;
        width: 75%;
    }
    .chekout .all-checkout-total {
        padding: 5px 30px;
    }
    .login-side {
        width: 100%;
    }
    .carousel-side {
        display: none;
    }
    .modal.modal-right .modal-dialog {
        top: 120px;
    }
    .product-sidebar .product-sales {
        height: calc(100vh - 353px);
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-nav {
        margin-left: 16px !important;
    }
    .navbar-brand {
        margin-left: 20px;
    }
    .product-card .product-width {
        width: 25%;
    }
    .product-card {
        height: calc(100vh - 245px);
    }
    .overlay {
        display: none;
        position: absolute;
        background: #1F1D2B8C 0% 0% no-repeat padding-box;
        opacity: 1;
        backdrop-filter: blur(4px);
    }
    .product-sidebar {
        top: 10%;
        transform: translateX(50%);
        width: 50%;
        border: 1px solid var(--logo-placeholder-font-color);
    }
    .product-sidebar .product-sales {
        height: calc(100vh - 375px);
    }
    .add-customer .input-search {
        margin-left: 30px !important;
        width: 75%;
    }
    .product {
        padding: 6px 9px 0 10px;
    }
    .chekout .all-checkout-total {
        padding: 5px 30px;
    }
    .login-side {
        width: 100% !important;
    }
    .carousel-side {
        display: none;
    }
    .modal.modal-right .modal-dialog {
        top: 120px;
    }
    .product-sidebar .product-sales {
        height: calc(100vh - 353px);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-brand {
        margin-left: 0px;
    }
    .product-card .product-width {
        width: 20%;
    }
    .modal.modal-right .modal-dialog {
        top: 120px;
    }
}

@media (min-width: 1200px) {
    .product-card .product-width {
        width: 20%;
    }
    .modal.modal-right .modal-dialog {
        top: 120px;
    }
    .dropdown-toggle::after {
        display: inline-block;
        margin-left: .5em;
    }
    .navbar-light .navbar-nav .nav-link {
        margin-right: 12px;
    }
}


/* Start Products Animations*/

.JScallHover:hover {
    -webkit-transform: scale(1.019);
    -ms-transform: scale(1.019);
    transform: scale(1.02);
}